{% extends 'base.html' %}



{% block styletags %}

{% endblock styletags %}



{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Settings</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="settings.html">Settings</a></li>
                    <li class="breadcrumb-item active">General Settings</li>
                </ul>
            </div>
        </div>
    </div>

    {% include '../utils/settings-menu.html' %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
    
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col-auto text-end float-end ms-auto download-grp">
                                <!-- <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i>
                                    Download</a> -->
                                <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#add_subject">
                                    <i class="fas fa-feather"><span style="padding-left: 10px;">Modify</span></i>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="table-responsive">
                        <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                            <thead class="student-thread">
                                <tr>
                                    
                                    <th>#</th>
                                    <th>First Installment</th>
                                    <th>Second Installment</th>
                                    <th>PTA</th>
                                    <th>School Uniform</th>
                                </tr>
                            </thead>
                            <tbody>
    
                                <tr>
                                    
                                    <td>{{forloop.counter}}</td>
                                    <td>{{setting.first_installment}}</td>
                                    <td>{{setting.second_installment}}</td>
                                    <td>{{setting.pta}}</td>
                                    <td>{{setting.school_uniform}}</td>
                                     
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</div>

<div class="modal custom-modal fade" id="add_subject" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Fee Installments</h3>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'settings:settings-fees' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>First Installment <span class="login-danger">*</span></label>
                                        <input name="first_installment" value="{{setting.first_installment}}" type="text" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>Second Installment <span class="login-danger">*</span></label>
                                        <input name="second_installment" value="{{setting.second_installment}}" type="text" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>PTA <span class="login-danger">*</span></label>
                                        <input name="pta" value="{{setting.pta}}" type="text" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>School Uniform <span class="login-danger">*</span></label>
                                        <input name="school_uniform" value="{{setting.school_uniform}}" type="text" class="form-control" required>
                                    </div>
                                </div>
                               
                                <div class="col-12 row">
                                    <div class="student-submit col-6">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    <div class="student-submit col-6 ml-5">
                                        <a href="" data-bs-dismiss="modal" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block scripttags %}

{% endblock scripttags %}