{% extends 'base.html' %}
{% load static %}

{% block stylelinks %}
<link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">
{% endblock stylelinks %}




{% block content %}
  <!-- table to display all students records -->
  <div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Student Academic Recods : {{student.user.get_fullname}} - {{student.current_class.get_class_name}}</h3>
                        </div>
                        {% comment %} <div class="col-auto text-end float-end ms-auto download-grp">
                            <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i>
                                Download</a>
                            <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#add_subject">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div> {% endcomment %}
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                        <thead class="student-thread">
                            <!-- score
                            student
                            teacher
                            exam_session
                            subject
                            remark -->
                            <tr>
                                <th>#</th>
                                <th>Subject Name</th>
                                <th>Mark</th>
                                <th>Coefficient</th>
                                <th>Teacher</th>
                                <th>Exam Session</th>
                                <th>Year</th>
                                {% if request.user.is_admin %}
                                
                                <th>Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>

                            {% for mark in marks %}


                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{mark.subject.name}}</td>
                                <td>{{mark.score}}</td>
                                <td>{{mark.subject.coef}}</td>
                                <td>{{mark.teacher.user.get_fullname}}</td>
                                <td>{{mark.exam_session.exam_session}}</td>
                                <td>{{mark.exam_session.term.academic_year}}</td>
                                {% if request.user.is_admin %}
                                <td>
                                    <div class="col-auto text-end float-end ms-auto download-grp">
                                        <a href="" data-bs-toggle="modal" data-bs-target="#edit-mark-{{mark.pkid}}" style="color: white;" class="btn btn-outline-primary me-2">Edit Record</a>                                           
                                    </div>
                                </td>
                                {% endif %}
                                
                            </tr>
                            <div class="modal custom-modal fade" id="edit-mark-{{mark.pkid}}" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="form-header">
                                                <p>{{mark.subject.name}} - {{mark.exam_session.exam_session}} - {{mark.student.user.get_fullname}}</p>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <form action="{% url 'students:edit-mark' mark_pkid=mark.pkid student_pkid=mark.student.pkid %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group local-forms">
                                                                    <label>New Mark <span class="login-danger">*</span></label>
                                                                    <input name="mark" type="text" value="{{mark.score}}" class="form-control" required>
                                                                </div>
                                                            </div>
                            
                            
                                                            <div class="col-12 row">
                                                                <div class="student-submit col-6">
                                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                                </div>
                                                                <div class="student-submit col-6 ml-5">
                                                                    <a href="" data-bs-dismiss="modal" class="btn btn-danger">Cancel</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                
            </div>
        </div>
        </div>
    </div>
{% endblock content %}


{% block scripttags %}
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
{% endblock scripttags %}
    