{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    <h3 class="page-title">Student Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="students.html">Student</a></li>
                        <li class="breadcrumb-item active">Student Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-info">
                        <h4>Profile <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h4>
                    </div>
                    <div class="student-profile-head">
                        <div class="profile-bg-img">
                            <img src="{% static 'assets/img/profile-bg.jpg' %}" alt="Profile">
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="profile-user-box">
                                    <div class="profile-user-img"><span class="px-1">About Student</span>
                                        <img src="{{ student.profile_photo.url }}" alt="Profile">
                                        <!-- <div class="form-group students-up-files profile-edit-icon mb-0">
                                            <div class="uplod d-flex">
                                                <label class="file-upload profile-upbtn mb-0">
                                                    <i class="feather-edit-3"></i><input type="file">
                                                </label>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="names-profiles">
                                        <h4>{{student.user.first_name}} {{student.user.last_name}}</h4>
                                        <h5>{{student.domain}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                <div class="follow-group">
                                    <div class="students-follows">
                                        <h5>Parent Name</h5>
                                        <h4>{{student.parent.first_name}}</h4>
                                    </div>
                                    <div class="students-follows">
                                        <h5>Current Class</h5>
                                        <h4>{{ student.current_class.class_name }}</h4>
                                    </div>
                                    <div class="students-follows">
                                        <h5>Matricule</h5>
                                        <h4>{{student.matricule}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                <div class="follow-btn-group">
                                    <a href="{% url 'students:student-edit' pkid=student.pkid matricule=student.matricule%}">
                                    <button class="btn btn-info follow-btns">Edit Student Info</button>
                                </a>
                                    
                                    {% if student.is_owing %}
                                        
                                        {% if number_of_payments > 0 %}
                                            <a href="{% url 'fees:edit-fee' pkid=student.pkid matricule=student.matricule %}">
                                                <button  class="btn btn-info btn-warning">Update Payment</button>
                                            </a>
                                        {% elif number_of_payments == 0 %}
                                            <a href="{% url 'fees:add-fee' pkid=student.pkid matricule=student.matricule %}">
                                                <button  class="btn btn-info btn-danger">Add Payment</button>
                                            </a>
                                        {% endif %}
                              
                                    {% endif %}
                                    <!-- <button type="submit" class="btn btn-info message-btns">Message</button>  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="student-personals-grp">
                        <div class="card">
                            <div class="card-body">
                                <div class="heading-detail">
                                    <h4>Personal Details :</h4>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-user"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Name</h4>
                                        <h5>{{student.user.first_name}} {{student.user.last_name}}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <img src="{% static 'assets/img/icons/buliding-icon.svg' %}" alt="">
                                    </div>
                                    <div class="views-personal">
                                        <h4>Department </h4>
                                        <h5>{{student.domain}}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-phone-call"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Mobile</h4>
                                        <h5>{{student.phone_number}}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-mail"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Email</h4>
                                        <h5>{{ student.user.email }}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-user"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Gender</h4>
                                        <h5>{{ student.gender }}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-calendar"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Date of Birth</h4>
                                        <h5>{{ student.user.dob|date:"j M Y" }}</h5>
                                    </div>
                                </div>
                                <!-- <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-italic"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Language</h4>
                                        <h5>English, French, Bangla</h5>
                                    </div>
                                </div> -->
                                <div class="personal-activity mb-0">
                                    <div class="personal-icons">
                                        <i class="feather-map-pin"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Address</h4>
                                        <h5>{{student.address}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
 
                </div>
                <div class="col-lg-4">
                    <div class="student-personals-grp">
                        <div class="card mb-0">
                            <div class="card-body">
                                 <div class="heading-detail">
                                    <h4>Extra Info</h4>
                                    <div class="hello-park">
                                        
                                        {% if student.is_repeater %}
                                            
                                            <div class="alert bg-warning rounded-3 py-3 px-2 text-center font-weight-bold" role="alert">
                                                Repeater
                                            </div>
                                        {% endif %}
                                        <hr>
                                        {% if student.is_owing %}       
                                            {% if number_of_payments > 0 %}
                                                <div class="alert bg-warning rounded-3 py-3 px-2 text-center font-weight-bold" role="alert">
                                                    Uncompleted Fees                                                        
                                                </div>
                                            {% else %}
                                                <div class="alert bg-danger rounded-3 py-3 px-2 text-center font-weight-bold" role="alert">
                                                    Unpaid Fees                                                        
                                                </div>
                                            {% endif %}
                                                    
                                        {% else %}
                                            <div class="alert bg-success rounded-3 py-3 px-2 text-center font-weight-bold" role="alert">
                                                Fees Completed.
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                                

                                <div class="hello-park">
                                    <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title">Payment History</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Amount</th>
                                                                <th>Pay Date</th>
                                                                <th>Recieved By</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for payment in payment_history %}
                                                            <tr>
                                                                <td>{{payment.amount_paid}}</td>
                                                                <td>{{ payment.pay_date|date:"j M Y" }}</td>
                                                                <td>{{payment.collected_by.user.username}}</td>
                                                            </tr>
                                                            {% endfor %}  
                                                            <tr>
                                                                <td colspan="2"><b>Total</b></td>
                                                                <td>{{fee.amount}}</td>
                                                            </tr>                                                      
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>                              
                                        
                                </div>
                                
                                <div class="hello-park">
                                    <h5>Remarks</h5>
                                    <p>{{student.remark}}</p>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam inventore veritatis et quasi architecto beatae
                                        vitae dicta sunt explicabo. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}