{% extends 'base.html' %}
{% load static %}

{% block stylelinks %}
<link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">
{% endblock stylelinks %}


{% block content %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    <h3 class="page-title">Classes</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'class-list' %}">Classes</a></li>
                        <li class="breadcrumb-item active">All Classes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

 

    <div class="student-group-form">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by ID ...">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by Name ...">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by Phone ...">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="search-student-btn">
                    <button type="btn" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table comman-shadow">
                <div class="card-body">

                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">Students</h3>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp">
                                <!-- <a href="students.html" class="btn btn-outline-gray me-2 active"><i
                                        class="feather-list"></i></a>
                                <a href="students-grid.html" class="btn btn-outline-gray me-2"><i
                                        class="feather-grid"></i></a> -->
                                <a href="#" class="btn btn-outline-primary me-2"><i
                                        class="fas fa-download"></i> Download Mark Sheet</a>
                                    <a href="#" class="btn btn-outline-primary me-2"><i
                                        class="fas fa-upload"></i> Upload Marks</a>
                                <a href="{% url 'class-add' %}" class="btn btn-primary"><i
                                        class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table
                            class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                            <thead class="student-thread">
                                <tr>
                                    <th>
                                        <div class="form-check check-tables">
                                            <input class="form-check-input" type="checkbox"
                                                value="something">
                                        </div>
                                    </th>
                                    <th>ID</th>
                                    <th>Grade Level</th>
                                    <th>Class Name</th>
                                    <th>Class Master</th>
                                    <th>Class Prefect</th>
                                    <th>Number of Students</th>
                                    <th>Download/Upload Marks</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for class in classes %}                                    
                                    <tr>
                                        <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox"
                                                    value="something">
                                            </div>
                                        </td>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{class.grade_level}}</td>
                                        
                                        <td>{{class.class_name}}</td>
                                        <td>{{ class.class_master }}</td>
                                        <td>{{ class.class_prefect }}</td>
                                        <td>{{ class.students.all.count }}</td>
                                        <td>
                                            <div class="col-auto text-end float-end ms-auto download-grp">
                                                <a href="{% url 'students:marks-upload' class_pkid=class.pkid %}" style="color: white;" class="btn btn-outline-primary me-2" ><i
                                                class="fas fa-plus"></i> Upload Marks</a>


                                                <a href="#" style="color: white;" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
                                                data-bs-target="#download_class_{{class.pkid}}"><i
                                                    class="fas fa-plus"></i> Download Marks Sheet</a></td>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="{% url 'class-edit' pkid=class.pkid %}" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>

                                                
                                                <a class="btn btn-sm bg-danger-light" href="#" data-bs-toggle="modal"
                                                    data-bs-target="#delete_class_{{class.pkid}}">
                                                    <!-- <i class="fe fe-trash-2"></i> -->
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                                    
                                            </div>
                                        </td>
                                    </tr>

                                    <div class="modal custom-modal fade" id="delete_class_{{class.pkid}}" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="form-header">
                                                        <h3>Delete Class</h3>
                                                        <p>Are you sure want to delete?</p>
                                                    </div>
                                                    <div class="modal-btn delete-action">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <a href="{% url 'class-delete' pkid=class.pkid %}" 
                                                                    class="btn btn-primary paid-continue-btn">Delete</a>
                                                            </div>
                                                            <div class="col-6">
                                                                <a href="javascript:void(0);" data-bs-dismiss="modal"
                                                                    class="btn btn-primary paid-cancel-btn">Cancel</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal custom-modal fade" id="download_class_{{class.pkid}}" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="form-header">
                                                        <h3>Download Mark Sheet</h3>
                                                        <p>{{class.grade_level}} - {{class.class_name}}</p>
                                                    </div>
                                                    <form action="{% url 'students:mark-sheet-download' class_pkid=class.pkid %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="form-title"><span>Select Subject</span></h5>
                                                            </div>
                                                            
                                                            
                                                            <div class="col-12">
                                                                <div class="form-group local-forms">
                                                                    <label>Subject Name <span class="login-danger">*</span></label>
                                                                    <select class="form-control" name="selected_subject_id">
                                                                        {% for subject in subjects %}
                                                                        <option class="py-4" value="{{subject.pkid}}" {% if term.is_current %}selected{% endif %}>
                                                                            {{subject.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 row">
                                                                <div class="student-submit col-6">
                                                                    <button type="submit" class="btn btn-primary">Download</button>
                                                                </div>
                                                                <div class="student-submit col-6 ml-5">
                                                                    <a href="" data-bs-dismiss="modal" class="btn btn-danger">Cancel</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content %}
    


{% block scripttags %}
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
{% endblock scripttags %}
    
    