{% extends 'base.html' %}
{% load static %}

{% block stylelinks %}
<link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">
{% endblock stylelinks %}


{% block content %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Subjects</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Subjects</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Subjects</h3>
                        </div>
                        <div class="col-auto text-end float-end ms-auto download-grp">
                            
                            <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#add_subject">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                        <thead class="student-thread">
                            <tr>
                                <th>ID</th>
                                <th>Subject Code</th>
                                <th>Subject Name</th>
                                <th>Coef</th>
                                <th>Teacher</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for subject in subjects %}


                            <tr>
                               
                                <td>{{forloop.counter}}</td>
                                <td>{{subject.code}}</td>
                                <td>
                                    <h2>
                                        <a>{{subject.name}}</a>
                                    </h2>
                                </td>
                                <td>{{subject.coef}}</td>
                                <td>{{subject.assigned_to}}</td>
                                <td>
                                    
                                    <div class="col-auto text-end float-end ms-auto download-grp">
                                        <a href="#" style="color: white;" data-bs-toggle="modal" data-bs-target="#upload_marks_{{subject.pkid}}" class="btn btn-outline-primary me-2"><i
                                        class="fas fa-upload"></i> Upload File</a>                                           
                                    </div>
                                    <div class="col-auto text-end float-end ms-auto download-grp">
                                        <a href="#" style="color: white;" data-bs-toggle="modal" data-bs-target="#download_class_{{class.pkid}}" class="btn btn-outline-primary me-2"><i
                                        class="fas fa-download"></i> Download List</a>                                           
                                    </div>

                                </td>
                                
                            </tr>
                            <div class="modal custom-modal fade" id="delete_subject_{{subject.pkid}}" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="form-header">
                                                <h3>Delete Subject ({{subject.name}})</h3>
                                                <p>Are you sure want to delete?</p>
                                            </div>
                                            <div class="modal-btn delete-action">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="{% url 'staff:subjects-delete' pkid=subject.pkid %}"
                                                            class="btn btn-primary paid-continue-btn">Delete</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <a href="javascript:void(0);" data-bs-dismiss="modal"
                                                            class="btn btn-primary paid-cancel-btn">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% comment %} Modal to upload student marks {% endcomment %}
                            <div class="modal custom-modal fade" id="upload_marks_{{subject.pkid}}" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="form-header">
                                                <h3>Upload Mark File</h3>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <form action="{% url 'staff:staff-upload-marks-file' subject_pkid=subject.pkid class_pkid=klass.pkid %}" method="post" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="form-title"><span>{{klass.get_class_name}}->{{subject}}</span>
                                                                </h5>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group local-forms">
                                                                    <label>Exam Session <span class="login-danger">*</span></label>
                                                                    <select class="form-control" name="selected_ex_session" required>
                                                                        
                                                                        {% for session in sessions %}                                                
                                                                            <option value="{{session.pkid}}">{{session.exam_session}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input name="marks_file" class="form-control" type="file" required placeholder="Upload file">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 row">
                                                                <div class="student-submit col-6">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Submit</button>
                                                                </div>
                                                                <div class="student-submit col-6 ml-5">
                                                                    <a href="" data-bs-dismiss="modal"
                                                                        class="btn btn-danger">Cancel</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% comment %} Modal to download student list {% endcomment %}
                            <div class="modal custom-modal fade" id="download_class_{{class.pkid}}" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="form-header">
                                                <h3>Download Mark Sheet</h3>
                                                <p>{{klass.get_class_name}} - {{subject.name}}</p>
                                            </div>
                                            <form action="{% url 'students:mark-sheet-download' subject.pkid klass.pkid %}" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    
                                                    
                                                
                                                    <div class="col-12 row">
                                                        <div class="student-submit col-6">
                                                            <button type="submit" class="btn btn-primary">Download file</button>
                                                        </div>
                                                        <div class="student-submit col-6 ml-5">
                                                            <a href="" data-bs-dismiss="modal" class="btn btn-danger">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>



<div class="modal custom-modal fade" id="add_subject" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Add Subject</h3>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'staff:subject-add' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Subject Information</span></h5>
                                </div>
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>Subject Name <span class="login-danger">*</span></label>
                                        <input name="subject_name" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>Subject Code <span class="login-danger">*</span></label>
                                        <input name="subject_code" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>Subject Coeff <span class="login-danger">*</span></label>
                                        <input name="subject_coeff" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 row">
                                    <div class="student-submit col-6">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    <div class="student-submit col-6 ml-5">
                                        <a href="" data-bs-dismiss="modal" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}



{% block scripttags %}
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
{% endblock scripttags %}