
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>

                <li class="{% if section == 'student-dashboard' %}active{% endif %}">
                    <a href="{% url 'students:student-dashboard' %}"><i class="feather-grid"></i> <span>Home</span></a>
                  </li>
                  
                <li class="{% if section == 'student-dashboad' %}active{% endif %}">
                <a href="{% url 'students:student-detail' student.pkid student.matricule %}"><i class="fas fa-user"></i> <span>Profile</span></a>
                </li>
                

                <li class="{% if section == 'student-dashboad' %}active{% endif %}">
                    <a href="{% url 'students:student-detail' student.pkid student.matricule %}"><i class="fas fa-book"></i> <span>View Subjects</span></a>
                </li>
                
                
                <li class="{% if section == 'student-dashbard' %}active{% endif %}">
                    <a href="{% url 'students:student-academic-record' pkid=student.pkid matricule=student.matricule%}"><i class="fas fa-folder"></i> <span>View Academic Record</span></a>
                </li> 
              

            

                <!-- <li class="submenu">
                    <a href="#"><i class="fas fa-certificate"></i> <span> Marks</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'students:marks' %}">Marks</a></li>
                        <li><a href="add-department.html">Department Add</a></li>
                        <li><a href="edit-department.html">Department Edit</a></li>
                    </ul>
                </li> -->
               
                {% comment %} <li class="submenu">
                    <a href="#"><i class="fas fa-clipboard"></i> <span> Invoices</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="invoices.html">Invoices List</a></li>
                        <li><a href="invoice-grid.html">Invoices Grid</a></li>
                        <li><a href="add-invoice.html">Add Invoices</a></li>
                        <li><a href="edit-invoice.html">Edit Invoices</a></li>
                        <li><a href="view-invoice.html">Invoices Details</a></li>
                        <li><a href="invoices-settings.html">Invoices Settings</a></li>
                    </ul>
                </li> {% endcomment %}
              
              
              
            </ul>
        </div>
    </div>
</div>
