{% extends 'base.html' %}


{% block sytletags %}

{% endblock sytletags %}



{% block content%}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Fees</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="fees-collections.html">Accounts</a></li>
                    <li class="breadcrumb-item active">Add Fees</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'fees:add-fee' pkid=student.pkid matricule=student.matricule %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Fees Information</span></h5>
                            </div>

                        
                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Select Installment <span class="login-danger">*</span></label>
                                    <select class="form-control select" name="selected_fee_installment">
                                        <option value="first_installment">First Installment - {{settings.first_installment}}</option>
                                        <option value="second_installment">Second Installment - {{settings.second_installment}}</option>
                                        <option value="complete">Complete - {{settings.get_complete_fee}}</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Fees Type <span class="login-danger">*</span></label>
                                    <select class="form-control select" name="selected_fee_type">
                                        <option value="school_fees">Scool Fees</option>
                                        <option value="pta">PTA</option>
                                        <option value="others">Others</option>
                                    </select>
                                </div>
                            </div>                            
                            
                            
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}



{% block scripttags %}

{% endblock scripttags %}