{% extends 'base.html' %}


{% block sytletags %}

{% endblock sytletags %}



{% block content%}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Other Payments</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="fees-collections.html">Accounts</a></li>
                    <li class="breadcrumb-item active">Add Payment</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'fees:add-extras' pkid=student.pkid matricule=student.matricule %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Payment Information</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Description <span class="login-danger">*</span></label>
                                    <input name="name" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Amount <span class="login-danger">*</span></label>
                                    <input name="amount" type="text" class="form-control">
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Remark <span class="login-danger">*</span></label>
                                    <input name="remark" type="text" class="form-control">
                                </div>
                            </div>
                                                 
                            
                            
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}



{% block scripttags %}

{% endblock scripttags %}