{% extends 'base.html' %}


{% block sytletags %}

{% endblock sytletags %}



{% block content%}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Fees</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="fees-collections.html">Accounts</a></li>
                    <li class="breadcrumb-item active">Add Fees</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'fees:edit-fee' pkid=student.pkid matricule=student.matricule %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Fees Information</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Fees Amount <span class="login-danger">*</span></label>
                                    <input name="fees_amount" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Target Amount <span class="login-danger">*</span></label>
                                    <input value="{{fee.target}}" name="target_amount" type="text" class="form-control">
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Fees Type <span class="login-danger">*</span></label>
                                    <select class="form-control select" name="selected_fee_type">
                                        <option value="school_fees">Scool Fees</option>
                                        <option value="pta">PTA</option>
                                        <option value="others">Others</option>
                                    </select>
                                </div>
                            </div>                            
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Paid Date</label>
                                    <input name="pay_date" class="form-control" type="date">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}



{% block scripttags %}

{% endblock scripttags %}