{% load static %}

<div class="col-md-12 col-lg-6">

    <div class="card card-chart">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-6">
                    <h5 class="card-title">Overview</h5>
                </div>
                <div class="col-6">
                    <ul class="chart-list-out">
                        <li><span class="circle-blue"></span>Teacher</li>
                        <li><span class="circle-green"></span>Student</li>
                        <li class="star-menus"><a href="javascript:;"><i
                                    class="fas fa-ellipsis-v"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="apexcharts-area"></div>
        </div>
    </div>
</div>