{% load static %}

<div class="col-xl-6 d-flex">

    <div class="card flex-fill student-space comman-shadow">
        <div class="card-header d-flex align-items-center">
            <h5 class="card-title">Star Students</h5>
            <ul class="chart-list-out student-ellips">
                <li class="star-menus"><a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table
                    class="table star-student table-hover table-center table-borderless table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th class="text-center">Marks</th>
                            <th class="text-center">Percentage</th>
                            <th class="text-end">Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-nowrap">
                                <div>PRE2209</div>
                            </td>
                            <td class="text-nowrap">
                                <a href="profile.html">
                                    <img class="rounded-circle"
                                        src="{% static 'assets/img/profiles/avatar-02.jpg' %}" width="25"
                                        alt="Star Students">
                                    John Smith
                                </a>
                            </td>
                            <td class="text-center">1185</td>
                            <td class="text-center">98%</td>
                            <td class="text-end">
                                <div>2019</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">
                                <div>PRE1245</div>
                            </td>
                            <td class="text-nowrap">
                                <a href="profile.html">
                                    <img class="rounded-circle"
                                        src="{% static 'assets/img/profiles/avatar-01.jpg' %}" width="25"
                                        alt="Star Students">
                                    Jolie Hoskins
                                </a>
                            </td>
                            <td class="text-center">1195</td>
                            <td class="text-center">99.5%</td>
                            <td class="text-end">
                                <div>2018</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">
                                <div>PRE1625</div>
                            </td>
                            <td class="text-nowrap">
                                <a href="profile.html">
                                    <img class="rounded-circle"
                                        src="{% static 'assets/img/profiles/avatar-03.jpg' %}" width="25"
                                        alt="Star Students">
                                    Pennington Joy
                                </a>
                            </td>
                            <td class="text-center">1196</td>
                            <td class="text-center">99.6%</td>
                            <td class="text-end">
                                <div>2017</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">
                                <div>PRE2516</div>
                            </td>
                            <td class="text-nowrap">
                                <a href="profile.html">
                                    <img class="rounded-circle"
                                        src="{% static 'assets/img/profiles/avatar-04.jpg' %}" width="25"
                                        alt="Star Students">
                                    Millie Marsden
                                </a>
                            </td>
                            <td class="text-center">1187</td>
                            <td class="text-center">98.2%</td>
                            <td class="text-end">
                                <div>2016</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">
                                <div>PRE2209</div>
                            </td>
                            <td class="text-nowrap">
                                <a href="profile.html">
                                    <img class="rounded-circle"
                                        src="{% static 'assets/img/profiles/avatar-05.jpg' %}" width="25"
                                        alt="Star Students">
                                    John Smith
                                </a>
                            </td>
                            <td class="text-center">1185</td>
                            <td class="text-center">98%</td>
                            <td class="text-end">
                                <div>2015</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>