{% load static %}


<div class="col-xl-6 d-flex">

    <div class="card flex-fill comman-shadow">
        <div class="card-header d-flex align-items-center">
            <h5 class="card-title ">Student Activity </h5>
            <ul class="chart-list-out student-ellips">
                <li class="star-menus"><a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="activity-groups">
                <div class="activity-awards">
                    <div class="award-boxs">
                        <img src="{% static 'assets/img/icons/award-icon-01.svg' %}" alt="Award">
                    </div>
                    <div class="award-list-outs">
                        <h4>1st place in "Chess”</h4>
                        <h5>John Doe won 1st place in "Chess"</h5>
                    </div>
                    <div class="award-time-list">
                        <span>1 Day ago</span>
                    </div>
                </div>
                <div class="activity-awards">
                    <div class="award-boxs">
                        <img src="{% static 'assets/img/icons/award-icon-02.svg' %}" alt="Award">
                    </div>
                    <div class="award-list-outs">
                        <h4>Participated in "Carrom"</h4>
                        <h5>Justin Lee participated in "Carrom"</h5>
                    </div>
                    <div class="award-time-list">
                        <span>2 hours ago</span>
                    </div>
                </div>
                <div class="activity-awards">
                    <div class="award-boxs">
                        <img src="{% static 'assets/img/icons/award-icon-03.svg' %}" alt="Award">
                    </div>
                    <div class="award-list-outs">
                        <h4>Internation conference in "St.John School"</h4>
                        <h5>Justin Leeattended internation conference in "St.John School"</h5>
                    </div>
                    <div class="award-time-list">
                        <span>2 Week ago</span>
                    </div>
                </div>
                <div class="activity-awards mb-0">
                    <div class="award-boxs">
                        <img src="{% static 'assets/img/icons/award-icon-04.svg' %}" alt="Award">
                    </div>
                    <div class="award-list-outs">
                        <h4>Won 1st place in "Chess"</h4>
                        <h5>John Doe won 1st place in "Chess"</h5>
                    </div>
                    <div class="award-time-list">
                        <span>3 Day ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>