{% extends 'base.html' %}
{% load static %}

{% block stylelinks %}
<link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">
{% endblock stylelinks %}


{% block content %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Subjects</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Subjects</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Subjects</h3>
                        </div>
                        <div class="col-auto text-end float-end ms-auto download-grp">
                            
                            <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#add_subject">
                                <i class="fas fa-plus"></i>
                            </a>
                            <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload_subjects_from_file"><i
                                class="fas fa-upload"></i></a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                        <thead class="student-thread">
                            <tr>
                                <th>
                                    <div class="form-check check-tables">
                                        <input class="form-check-input" type="checkbox" value="something">
                                    </div>
                                </th>
                                <th>ID</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Coef</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for subject in subjects %}


                            <tr>
                                <td>
                                    <div class="form-check check-tables">
                                        <input class="form-check-input" type="checkbox" value="something">
                                    </div>
                                </td>
                                <td>{{forloop.counter}}</td>
                                <td>{{subject.code}}</td>
                                <td>
                                    <h2>
                                        <a>{{subject.name}}</a>
                                    </h2>
                                </td>
                                <td>{{subject.coef}}</td>
                                <td class="text-end">
                                    <div class="actions">

                                        <a class="btn btn-sm bg-danger-light" href="#" data-bs-toggle="modal"
                                            data-bs-target="#edit_subject_{{subject.pkid}}">
                                            <i class="feather-edit"></i>
                                        </a>

                                        <a class="btn btn-sm bg-danger-light" href="#" data-bs-toggle="modal"
                                            data-bs-target="#delete_subject_{{subject.pkid}}">
                                            <!-- <i class="fe fe-trash-2"></i> -->
                                            <i class="fas fa-trash"></i>
                                        </a>

                                        <!-- <div class="student-submit">
                                                <a href="" data-bs-dismiss="modal"
                                                class="btn btn-danger">Cancel</a>
                                            </div>

                                            <div class="student-submit">
                                                <a href="" data-bs-dismiss="modal"
                                                class="btn btn-danger">Cancel</a>
                                            </div> -->
                                    </div>
                                </td>
                            </tr>
                            <div class="modal custom-modal fade" id="delete_subject_{{subject.pkid}}" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="form-header">
                                                <h3>Delete Subject ({{subject.name}})</h3>
                                                <p>Are you sure want to delete?</p>
                                            </div>
                                            <div class="modal-btn delete-action">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="{% url 'staff:subjects-delete' pkid=subject.pkid %}"
                                                            class="btn btn-primary paid-continue-btn">Delete</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <a href="javascript:void(0);" data-bs-dismiss="modal"
                                                            class="btn btn-primary paid-cancel-btn">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal custom-modal fade" id="edit_subject_{{subject.pkid}}" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="form-header">
                                                <h3>Add Subject</h3>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <form action="{% url 'staff:subject-edit' pkid=subject.pkid%} "
                                                        method="post">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="form-title"><span>Subject Information</span>
                                                                </h5>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group local-forms">
                                                                    <label>Subject Name <span
                                                                            class="login-danger">*</span></label>
                                                                    <input value="{{subject.name}}" name="subject_name"
                                                                        type="text" class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group local-forms">
                                                                    <label>Subject Code <span
                                                                            class="login-danger">*</span></label>
                                                                    <input value="{{subject.code}}" name="subject_code"
                                                                        type="text" class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group local-forms">
                                                                    <label>Subject Coeff <span
                                                                            class="login-danger">*</span></label>
                                                                    <input value="{{subject.coef}}" name="subject_coeff"
                                                                        type="text" class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 row">
                                                                <div class="student-submit col-6">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Submit</button>
                                                                </div>
                                                                <div class="student-submit col-6 ml-5">
                                                                    <a href="" data-bs-dismiss="modal"
                                                                        class="btn btn-danger">Cancel</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>



<div class="modal custom-modal fade" id="add_subject" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Add Subject</h3>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'staff:subject-add' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Subject Information</span></h5>
                                </div>
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>Subject Name <span class="login-danger">*</span></label>
                                        <input name="subject_name" type="text" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>Subject Code <span class="login-danger">*</span></label>
                                        <input name="subject_code" type="text" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>Subject Coeff <span class="login-danger">*</span></label>
                                        <input name="subject_coeff" type="text" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-12 row">
                                    <div class="student-submit col-6">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    <div class="student-submit col-6 ml-5">
                                        <a href="" data-bs-dismiss="modal" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  <div class="modal custom-modal fade" id="upload_subjects_from_file" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Upload Subjects</h3>
                </div>
                <form action="{% url 'staff:upload-subjects-from-file' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input name="subjects_file" class="form-control" type="file" placeholder="Upload subjects file" required>
                            </div>
                        </div>
                        
                        <div class="col-12 row">
                            <div class="student-submit col-6">
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                            <div class="student-submit col-6 ml-5">
                                <a href="" data-bs-dismiss="modal" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block scripttags %}
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
{% endblock scripttags %}