{% extends 'base.html' %}



{% block styletags %}
    
{% endblock styletags %}
    

{% block content %}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Add Leave</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="students.html">Leave</a></li>
                <li class="breadcrumb-item active">Add leave</li>
             </ul>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="card">
             <div class="card-body">
                <form action="{% url 'leave:add-leave' %}" method="post">
                  {% csrf_token %}
                   <div class="row">
                      <div class="col-12">
                         <h5 class="form-title"><span>Leave Information</span></h5>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Leave Date</label>
                            <input type="date" name="leave_date" class="form-control">
                         </div>
                      </div>
                      

                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Duration</label>
                           <input type="text" name="duration" class="form-control">
                        </div>
                     </div>

                     <div class="col-12">
                        <div class="form-group">
                            <label>Reason</label>
                            <input type="text" name="reason" class="form-control">
                        </div>
                    </div>
                      <div class="col-12">
                         <button type="submit" class="btn btn-primary">Add Leave</button>
                      </div>

                     
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock content %}





{% block scripttags %}
    
{% endblock scripttags %}
    
    