{% extends 'base.html' %}
{% load static %}


{% block stylelinks %}
<link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">
{% endblock stylelinks %}



{% block content %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    <h3 class="page-title">Students</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="students.html">Student</a></li>
                        <li class="breadcrumb-item active">All Students</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% comment %} <div class="student-group-form">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by ID ...">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by Name ...">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by Phone ...">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="search-student-btn">
                    <button type="btn" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table comman-shadow">
                <div class="card-body">
                    
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">Administrators</h3>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp">
                                <!-- <a href="students.html" class="btn btn-outline-gray me-2 active"><i
                                        class="feather-list"></i></a>
                                <a href="students-grid.html" class="btn btn-outline-gray me-2"><i
                                        class="feather-grid"></i></a> 
                                <a href="#" class="btn btn-outline-primary me-2"><i
                                        class="fas fa-download"></i> Download</a>
                                    <a href="{% url 'students:upload-students-from-file' %}" class="btn btn-outline-primary me-2"><i
                                        class="fas fa-upload"></i> Upload File</a>
                                <a href="{% url 'students:student-add' %}" class="btn btn-primary"><i
                                        class="fas fa-plus"></i></a>
                                        -->
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <table
                            class="table border-0 star-student table-hover table-center mb-0 table-striped">
                            <thead class="student-thread">
                                <tr>
                                    <th>#</th>
                                    <th>Matricule</th>
                                    <th>Name</th>
                                    <th>Reason</th>
                                    <th>Leave Date</th>
                                    <th>Submitted on</th>
                                    <th>Duration</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for leave in admins %}                                    
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{leave.admin.matricule}}</td>
                                        <td>
                                            {{leave.admin.user.get_fullname}}
                                        </td>
                                        <td>{{leave.reason}}</td>
                                        <td>{{ leave.leave_date|date:"j M Y" }}</td>
                                        <td>{{ leave.submitted_on|date:"j M Y" }}</td>
                                        <td>{{leave.duration}}</td>
                                        <td style="text-align: right">
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li id="approve-btn" class="dropdown-item"><a class="btn btn-sm btn-success" href="{% url 'leave:approve-leave' leave_pkid=leave.pkid leave_type='admin' %}">Approve Leave</a></li>
                                                    <li id="reject-btn" class="dropdown-item"><a class="btn btn-sm btn-danger" href="{% url 'leave:reject-leave' leave_pkid=leave.pkid leave_type='admin' %}">Reject Leave</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>

                  
                    <hr>
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">Teachers</h3>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp">
                                <!-- <a href="students.html" class="btn btn-outline-gray me-2 active"><i
                                        class="feather-list"></i></a>
                                <a href="students-grid.html" class="btn btn-outline-gray me-2"><i
                                        class="feather-grid"></i></a> 
                                <a href="#" class="btn btn-outline-primary me-2"><i
                                        class="fas fa-download"></i> Download</a>
                                    <a href="{% url 'students:upload-students-from-file' %}" class="btn btn-outline-primary me-2"><i
                                        class="fas fa-upload"></i> Upload File</a>
                                <a href="{% url 'students:student-add' %}" class="btn btn-primary"><i
                                        class="fas fa-plus"></i></a>
                                        -->
                            </div>
                        </div>
                    </div>

                    <div class="table">
                        <table
                            class="table border-0 star-student table-hover table-center mb-0 table-striped">
                            <thead class="student-thread">
                                <tr>
                                    <th>#</th>
                                    <th>Matricule</th>
                                    <th>Name</th>
                                    <th>Reason</th>
                                    <th>Leave Date</th>
                                    <th>Submitted on</th>
                                    <th>Duration</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for leave in teachers %}                                    
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{leave.teacher.matricule}}</td>
                                        <td>
                                            {{leave.teacher.user.get_fullname}}
                                        </td>
                                        <td>{{leave.reason}}</td>
                                        <td>{{ leave.leave_date|date:"j M Y" }}</td>
                                        <td>{{ leave.submitted_on|date:"j M Y" }}</td>
                                        <td>{{leave.duration}}</td>
                                        <td style="text-align: right">
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li id="approve-btn" class="dropdown-item"><a class="btn btn-sm btn-success" href="{% url 'leave:approve-leave' leave_pkid=leave.pkid leave_type='teacher' %}">Approve Leave</a></li>
                                                    <li id="reject-btn" class="dropdown-item"><a class="btn btn-sm btn-danger" href="{% url 'leave:reject-leave' leave_pkid=leave.pkid leave_type='teacher' %}">Reject Leave</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <hr>
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">Students</h3>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp">
                                <!-- <a href="students.html" class="btn btn-outline-gray me-2 active"><i
                                        class="feather-list"></i></a>
                                <a href="students-grid.html" class="btn btn-outline-gray me-2"><i
                                        class="feather-grid"></i></a> 
                                <a href="#" class="btn btn-outline-primary me-2"><i
                                        class="fas fa-download"></i> Download</a>
                                    <a href="{% url 'students:upload-students-from-file' %}" class="btn btn-outline-primary me-2"><i
                                        class="fas fa-upload"></i> Upload File</a>
                                <a href="{% url 'students:student-add' %}" class="btn btn-primary"><i
                                        class="fas fa-plus"></i></a>
                                        -->
                            </div>
                        </div>
                    </div>

                    <div class="table">
                        <table
                            class="table border-0 star-student table-hover table-center mb-0">
                            <thead class="student-thread">
                                <tr>
                                    <th>#</th>
                                    <th>Matricule</th>
                                    <th>Name</th>
                                    <th>Reason</th>
                                    <th>Leave Date</th>
                                    <th>Submited on</th>
                                    <th>Duration</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for leave in students %}                                    
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{leave.student.matricule}}</td>
                                        <td>{{leave.student.user.get_fullname}}</td>
                                        <td>{{leave.reason}}</td>
                                        <td>{{ leave.leave_date|date:"j M Y" }}</td>
                                        <td>{{ leave.submitted_on|date:"j M Y" }}</td>
                                        <td>{{leave.duration}}</td>
                                        <td style="text-align: right">
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li id="approve-btn" class="dropdown-item"><a class="btn btn-sm btn-success" href="{% url 'leave:approve-leave' leave_pkid=leave.pkid leave_type='student' %}">Approve Leave</a></li>
                                                    <li id="reject-btn" class="dropdown-item"><a class="btn btn-sm btn-danger" href="{% url 'leave:reject-leave' leave_pkid=leave.pkid leave_type='student' %}">Reject Leave</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


<li><a href="">Student Edit</a></li>

{% block scripttags %}
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
{% endblock scripttags %}
    