{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Teachers</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="teachers.html">Teachers</a></li>
                    <li class="breadcrumb-item active">Edit Teachers</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'teachers:teachers-edit' matricule=teacher.matricule pkid=teacher.pkid %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Basic Details</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>First Name<span style="color: red;">*</span></label>
                                    <input type="text" value="{{teacher.user.first_name}}" name="first_name" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Last Name<span style="color: red;">*</span></label>
                                    <input type="text" value="{{teacher.user.last_name}}" name="last_name" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject<span style="color: red;">*</span></label>
                                    <input type="text" value="{{teacher.main_subject}}" name="subject" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select class="form-control" name="gender">
                                        <option value="Other" {% if teacher.gender == 'Other' %}selected{% endif %}>Others</option>
                                        <option value="Male" {% if teacher.gender == 'Male' %}selected{% endif %}>Male</option>
                                        <option value="Female" {% if teacher.gender == 'Female' %}selected{% endif %}>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Phone<span style="color: red;">*</span></label>
                                    <input type="text" value="{{teacher.phone_number}}" name="phone" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Date of Birth {% if teacher.user.dob %} | Current: <span>{{teacher.user.dob|date:'j M Y'}}</span>{%endif%}</label>
                                    <input type="date" value="{{teacher.user.dob|date:'j M Y'}}" name="dob" class="form-control">
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Address<span style="color: red;">*</span></label>
                                    <input type="text" value="{{teacher.address}}" name="address" class="form-control" required>
                                </div>
                            </div>
                            
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Location</label>
                                    <input type="text" value="{{teacher.location}}" name="location" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input type="text" value="{{teacher.country}}" name="country" class="form-control">
                                </div>
                            </div>
                            
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Photo</label>
                                    <input type="file" value="{{teacher.profile_photo}}" name="photo" class="form-control">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Remark</label>
                                    <textarea type="text" name="remark" class="form-control">{{teacher.remark}}</textarea>
                                </div>
                            </div>
                            
                            
                            <!-- <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Qualification</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Experience</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div> -->
                            <div class="col-12">
                                <h5 class="form-title"><span>Login Details</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Username<span style="color: red;">*</span></label>
                                    <input type="text" value="{{teacher.user.username}}" name="username" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Email ID<span style="color: red;">*</span></label>
                                    <input type="email" value="{{teacher.user.email}}" name="email" class="form-control" required>
                                </div>
                            </div>
                        
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}