<div class="settings-menu-links">
    <ul class="nav nav-tabs menu-tabs">
        <li class="nav-item {% if request.resolver_match.url_name == 'settings-home' %}active{% endif %}">
            <a class="nav-link" href="{% url 'settings:settings-home' %}">General Settings</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'setting-sessions' %}active{% endif %}">
            <a class="nav-link" href="{% url 'settings:setting-sessions' %}">Session Settings</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'setting-terms' %}active{% endif %}">
            <a class="nav-link" href="{% url 'settings:setting-terms' %}">Term Settings</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'setting-exam-sessions' %}active{% endif %}">
            <a class="nav-link" href="{% url 'settings:setting-exam-sessions' %}">Examination Sessions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="social-settings.html">Social Media Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="social-links.html">Social Links</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="seo-settings.html">SEO Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="others-settings.html">Others</a>
        </li>
    </ul>
</div>
